/* You can add global styles to this file, and also import other style files */
$color : lightgreen;
.card {
    transition: 0.5s;
    &:hover, &.selected {
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px lightgrey;
    }
    width: 200px;
}